<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manage.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/g2cicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/g2cicon_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="com.manage.app.CheckManagerActivity"
            android:exported="false" />
        <activity
            android:name="com.manage.app.SelectLocationActivity"
            android:exported="false" />
        <activity
            android:name="com.manage.app.PlacePickerActivity"
            android:exported="false" />
        <activity
            android:name="com.manage.app.GenerateImageActivity"
            android:exported="true" />
        <activity
            android:name="com.manage.app.EditMechanicDetailActivity"
            android:exported="true" />
        <activity
            android:name="com.manage.app.EditCustomerDetails"
            android:exported="true" />
        <activity
            android:name="com.manage.app.ImageViewerActivity"
            android:exported="true" />
        <activity
            android:name="com.manage.app.ServiceImagesActivity"
            android:exported="true" />
        <activity
            android:name="com.manage.app.ServiceAssignedActivity"
            android:exported="true" />
        <activity
            android:name="com.manage.app.ServiceApprovalActivity"
            android:exported="true" />
        <activity android:name="com.manage.app.ListAssignMechanicActivity" />
        <activity android:name="com.manage.app.ListMechanicActivity" />
        <activity android:name="com.manage.app.MechanicDisplayActivity" />
        <activity android:name="com.manage.app.MechanicRegisterActivity" />
        <activity
            android:name="com.manage.app.MechanicActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.manage.app.BookingDetailActivity" />
        <activity android:name="com.manage.app.TodaysBookingActivity" />
        <activity android:name="com.manage.app.ListServiceActivity" />
        <activity android:name="com.manage.app.CustomerRegisterActivity" />
        <activity android:name="com.manage.app.CustomerServiceActivity" />
        <activity android:name="com.manage.app.CustomerDisplayActivity" />
        <activity android:name="com.manage.app.ListCustomerActivity">
            android:screenOrientation="portrait"
        </activity>
        <activity
            android:name="com.manage.app.resetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.manage.app.VerifyPhoneNo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.manage.app.CustomerActvity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.manage.app.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.manage.app.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.manage.app.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.manage.app.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.manage.app.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.manage.app.StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.manage.app.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>